.card-container {
  /* background-color: red; */
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.card-container__item {
  /* background-color: yellow; */
  margin-right: 1rem;
  width: 100%;
  padding: 24px 36px;
  border-radius: 0;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  text-transform: capitalize;
}

@media screen and (max-width: 420px) {
  .card-container {
    display: flex;
    flex-direction: column;
  }
  .card-container__item {
    margin: 0.5rem;
    min-width: 100%;
    padding: 24px 36px;
    border-radius: 0;
  }
}
