.how-main__container {
  /* background-color: rgba(21, 23, 26, 0.9); */
  /* background-color: grey; */
}
.main-how {
  padding-left: 0px;
  padding-right: 0px;
}
.how-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.how-card__container {
  display: grid;
  gap: 1rem;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 10rem 10rem;

  /* display: flex;
  justify-content: space-around;
  align-items: center; */
  /* margin-left: 20rem;
  margin-top: 1rem; */
}
.how-card {
  /* width: 30rem; */
  /* min-height: 20vh; */
  margin: 1rem;
}
.how__name {
  text-align: center;
  font-weight: 600;
  font-size: 20px;
  margin-top: 1rem;
}
.how__details {
  text-align: center;
  margin-top: 1rem;
}
.text-header__how {
  color: white;
  margin-top: 2rem;
  text-transform: capitalize;
  text-align: center;
  font-size: large;
}
.text-header__how h4 {
  margin-top: 2rem;
}
