.product__details {
  text-transform: capitalize;
  text-align: center;
  font-size: 15px;
}
.badge__close {
  position: absolute;
  right: 1px;
  top: 50px;
  background: red;
  text-align: center;
  border-radius: 30px;
  color: white;
  padding: 2px 8px;
  font-size: 15px;
}
.badge__open {
  position: absolute;
  right: 1px;
  top: 50px;
  background: #049604;
  text-align: center;
  border-radius: 30px;
  color: white;
  padding: 2px 8px;
  font-size: 15px;
}
.image__badge--holder {
  position: relative;
}
.card-holder {
  margin-top: 1rem;
  cursor: pointer;
  border: none;
  width: 100%;
  height: 100%;
}
.card-holder img:hover {
  background-color: white;
  opacity: 0.3;
}
.card__image {
  margin: 4rem 1rem 1rem 1rem;
  max-width: 100%;
}
.text-header {
  color: black;
  text-align: center;
  text-transform: uppercase;
  margin-top: 5rem;
  position: relative;
  padding-bottom: 1px;
  font-weight: bold;
}
/* .heading.text-header:before{
  right: 0;
  left: 0;
  margin: 0 auto;
}
.heading::before{
  content: "";
  position: absolute;
  background-color: #049604;
  width: 50px;
  height: 2px;
  bottom: 0;
} */
