.farm-card__container {
  width: 20rem;
  margin: 1rem;
}
/* .product__container{
  margin: 2rem;
} */
.farm-card__image {
  position: relative;
  /* background-color: red; */
  border: 1px solid white;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}
.product__details {
  text-transform: capitalize;
  text-align: center;
  font-size: 15px;
  margin: 1rem;
}
/* .card-holder {
  cursor: pointer;
  border-radius: 5px;
  background-color: white;
}
.card-holder:hover{
  transform: translateY(-15px);
  background-color: rgba(24, 240, 89, 0.363);
  transition: all 0.3s ease-in-out 0s;
}
.card-holder img:hover {
  background-color: white;
  opacity: 0.3;
} */
.card__image {
  /* margin: 4rem 1rem 1rem 1rem; */
  border: 1px solid white;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  width: 100%;
}
.text-header {
  color: black;
  text-align: center;
  text-transform: uppercase;
  margin-top: 2rem;
  position: relative;
  padding-bottom: 1px;
  font-weight: bold;
}
.farm-heading {
  font-size: 25px;
  font-weight: 400;
}
.product__content--list {
  /* background-color: pink; */
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.farm-invest__button {
  margin: 1rem 1rem 1rem 1rem;
  background-color: #116e01;
  border-radius: 3px;
  width: 25rem;
  padding: 2px 5px;
  font-size: normal;
  color: #fff;
  transition: all 0.3s ease-in-out;
  border: 2px solid #116e01;
  position: relative;
  z-index: 99;
  text-transform: capitalize;
  cursor: pointer;
}

.farm-products {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: auto;
}

/* .farm-products {
  background-color: yellow;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  overflow-x: hidden;
} */
.product__container {
  width: 100%;
}

.invest-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.invest-form input {
  border: 1px solid #116e01;
  border-radius: 3px;
  padding-left: 0.5rem;
  min-width: 25rem;
  height: 2.5rem;
  margin: 1rem;
}

.heading.text-header:before {
  right: 0;
  left: 0;
  margin: 0 auto;
}
.text-header::before {
  content: '';
  position: absolute;
  background-color: #049604;
  width: 50px;
  height: 2px;
  bottom: 0;
}
